<div class="cont d-flex flex-column align-items-center justify-content-center mt-5" style="height: auto;">
    <div class="spinner-border text-primary" role="status" *ngIf="isLoading">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="card" style="width: 70%; padding: 10px;">
        <div class="card-body">
            <div class="d-flex justify-content-center mb-2">
                <h3 class="card-title" style="color: coral;">Edit Your Profile</h3>
            </div>
            <form [formGroup]="editProForm" (ngSubmit)="editProFormSubmit()">
                <label for="uname">
                    <p>Username</p>
                </label>
                <input type="text" formControlName="uname" id="uname" name="uname" class="form-control mb-4"
                    placeholder="Enter Username">
                <div *ngIf="(this.editProForm.get('uname')?.errors)&&(this.editProForm.get('uname')?.touched)">
                    <p class="text-danger">Minimum 3 characters required</p>
                </div>
                <label for="about">
                    <p>About</p>
                </label>
                <input type="text" formControlName="about" id="about" name="about" class="form-control mb-4"
                    placeholder="About">
                <div *ngIf="(this.editProForm.get('about')?.errors)&&(this.editProForm.get('about')?.touched)">
                    <p class="text-danger">Minimum 4 characters required</p>
                </div>
                <div class="d-flex align-items-center justify-content-evenly imgCont">
                    <h5 style="color: coral;">Select a Profile Picture</h5>
                    <button class="btn btn-info" type="button" (click)="filePicker.click()">Pick Image</button>
                    <input type="file" #filePicker (change)="onImagePicked($event)">
                </div>
                <div class="imagePreview text-center" *ngIf="imagePreview !== '' && imagePreview">
                    <img [src]="imagePreview">
                </div>
                <!-- <div *ngIf="!imageCheck">
                    <p class="text-danger">Select an Image</p>
                </div> -->
                <div class="d-flex justify-content-center mt-5">
                    <button class=" btn btn-success" type="submit">
                        Edit Profile
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>