<div class="chat-container">
    <div class="chat-list">
        <div>
            <h5>Friends</h5>
        </div>
        <ul class="list-group" *ngFor="let i of freinds">
            <li (click)="selectChatUser(i)" class="list-group-item">
                <img [src]="freindProfPic[i] ? freindProfPic[i]: 'https://i.postimg.cc/t4S4SHmg/1053244.png'" alt=""
                    class="freindProfPic">
                <span class="chatSpan">{{i}}</span>
            </li>
        </ul>
        <div *ngIf="!freinds.length">
            <span class="text-danger">
                You currently have no friends. Follow more users, and if they follow you back, you will become friends.
            </span>
        </div>
    </div>
    <div class="message">
        <div class="card" style="height: max-content;">
            <div class="card-header">
                <img [src]="freindProfPic[selectedUserDetails['name']] ? freindProfPic[selectedUserDetails['name']]: 'https://i.postimg.cc/t4S4SHmg/1053244.png'"
                    alt="" class="freindProfPic">
                <span class="chatSpan">{{selectedUserDetails['name']}}</span>
            </div>
            <div class="mb-3 cmtBox">
                <!-- <div class="d-flex justify-content-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div> -->
                <!-- <label for="exampleFormControlTextarea1" class="form-label">Comments</label> -->
                <div class="cmtCont" #commentContainer>
                    <div class="comments-wrapper d-flex flex-column" style="height: 100%;">
                        <div *ngIf="chatImgContView" class="chatImgCont">
                            <span class="text-primary">
                                <img class="chatImg" src="https://i.postimg.cc/4N0zcz4n/live-chat-icon.png" alt="">
                            </span>
                        </div>
                        <div class="d-flex justify-content-center" *ngIf="isLoading">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <div class="m-2 singCmt" *ngFor="let c of conversations"
                            [ngClass]="{'highlight': c.sender == locUserId,'comment-right': c.sender == locUserId, 'comment-left': c.sender != locUserId}">
                            <!-- <img src="..." class="card-img-top" alt="..."> -->
                            <!-- <div *ngIf="comments.length===0">No Comments, add your comment</div> -->
                            <div>
                                <div class="usname"
                                    [routerLink]="['/profile/user',c.sender,chatUsersDetails[c.sender]]">
                                    <img class="cpic"
                                        [src]="freindProfPicId[c.sender] ? freindProfPicId[c.sender] : 'https://i.postimg.cc/t4S4SHmg/1053244.png'">
                                    <span class="uname">{{chatUsersDetails[c.sender]}}</span>
                                </div>
                                <p class="card-text">{{c.message}}</p>
                                <div *ngIf="c.sender == locUserId">
                                    <button (click)="deleteConv(c._id,c.sender)" class="btn btn-danger cmntDel"
                                        style="font-size: 10px;">Delete</button>
                                </div>
                            </div>
                            <div class="comment-time-container">
                                <p class="comment-time" style="font-size: small;padding: 8px;">
                                    {{getTimeElapsed(c.timestamp)}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <form [formGroup]="messageForm" (ngSubmit)="messageSubmit()"
                    class="d-flex flex-column align-items-center">
                    <textarea formControlName="message" id="comment" name="comment" class="form-control mt-5"
                        placeholder="Message" class="form-control" id="exampleFormControlTextarea1" rows="1"
                        style="margin-top: 20px;"></textarea>
                    <div *ngIf="(this.messageForm.get('message')?.errors)&&(this.messageForm.get('message')?.touched)">
                        <p class="text-danger">Minimum 1 character required</p>
                    </div>
                    <button class="btn btn-success mt-2" style="height: 30px; width: 20%;">
                        <p style="font-size: small;">Send</p>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>