.chat-container {
    display: flex;
    /* height: 100vh; */
    /* justify-content: space-around; */
}

.chat-list {
    width: 20%;
    margin: 16px;
    padding: 10px;
    background: #e3e5f3;
    border-radius: 12px;
    /* height: 400px; */
    height: min-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.list-group-item:hover {
    background: #c5cae9;
}

.freindProfPic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chatSpan {
    margin: 10px;
    font-size: 18px;
}

li {
    cursor: pointer;
}

.message {
    width: 80%;
    margin: 16px;
    background: #f4f6ff;
    border-radius: 12px;
    height: 500px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.comments-wrapper {
    height: 350px;
}

.btns {
    display: flex;
    justify-content: flex-end;
}

.cpic {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.usname {
    background-color: coral;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    width: max-content;
}


.singCmt {
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    width: 50%;
}

.cmts {
    cursor: pointer;
    transition: all .1s ease-in;
}

.cmts:hover {
    transform: scale(1.2);
}

.cmtCont {
    background-color: rgb(190, 255, 233);
    padding: 5px;
    height: 350px;
    /* border-radius: 12px; */
}

.singCmt {
    background-color: white;
    padding: 10px;
    border-radius: 12px;
}

.usname span {
    margin-left: 8px;
}

.usname:hover {
    background-color: rgb(255, 166, 134);
}

.like {
    cursor: pointer;
}

.liked {
    color: red;
    cursor: pointer;
}

svg {
    cursor: pointer;
    transition: all .1s ease-in;
}

svg:hover {
    transform: scale(1.2);
}

.lkdis {
    display: flex;
    justify-content: flex-end;
}

.likeDis {
    /* background-color: aquamarine; */
    width: 20%;
    display: flex;
    justify-content: space-between;
}


.cmts {
    cursor: pointer;
    transition: all .1s ease-in;
}

.cmts:hover {
    transform: scale(1.2);
}

.cmtCont {
    /* height: 300px; */
    /* Adjust the height as per your needs */
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.singCmt {
    display: inline-block;
    white-space: nowrap;
}

.singCmt>div:last-child {
    margin-right: 0;
    /* Removes extra margin on the right for the last comment */
}

.singCmt {
    position: relative;
}

.comment-time-container {
    position: absolute;
    top: 0;
    right: 0;
}

.comment-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    /* Enables smooth scrolling */
}

.comment-list {
    display: inline-block;
}

.cmtCont {
    position: relative;
}

.cmtLatBtn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    z-index: 1;
}

/* .singCmt.first-comment {
    margin-top: 50px;
} */

/* .comments-wrapper {
    margin-top: 50px;
} */


.post-cont {
    position: relative;
}

.post-time-container {
    position: absolute;
    top: 0;
    right: 0;
}

.highlight {
    background-color: rgb(255, 246, 222);
}

.comment-right {
    align-self: flex-end;
    /* Add any other styles specific to the right-aligned comments */
}

.comment-left {
    align-self: flex-start;
    /* Add any other styles specific to the left-aligned comments */
}

.chatImgCont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chatImg {
    margin-top: 10px;
    height: 300px;
    width: 300px;
}

/* Media query for small devices */
@media (max-width: 576px) {
    .chat-container {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .chat-list {
        width: 100%;
        margin: 16px 0;
        height: min-content;
    }

    .message {
        width: 100%;
        margin: 16px 0;
    }

    .chatImg {
        margin-top: 8px;
        height: 250px;
        width: 250px;
    }
}