<!-- <div class="spinner-border text-primary" role="status" *ngIf="isLoading">
    <span class="visually-hidden">Loading...</span>
</div> -->
<div class="d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status" *ngIf="isLoading">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div *ngIf="locUserId" class="container mt-5 prof-cont">
    <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <h5 class="card-title text-center">Welcome, {{userName}}</h5>
            <div class="prof-btns">
                <button [routerLink]="['/profile/user',locUserId,userName]" class="btn btn-primary">
                    View Profile
                </button>
                <button [routerLink]="'/create'" class="btn btn-success">
                    Add Post
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngFor="let p of posts">
    <div *ngIf="!isLoading">
        <div>
            <span class="uname" [routerLink]="['/profile/user',p.creator,p.name]">{{p.name}}</span>
            <!-- <span *ngFor="let u of followArr"> -->
            <!-- <span *ngIf="isAuth && (p.creator !== locUserId)" class="follow"
                (click)="followUser(p.creator)">Follow</span> -->
            <!-- <span *ngIf="isAuth && (p.creator !== locUserId)" class="unfollow"
                (click)="followUser(p.creator)">UnFollow</span> -->
            <!-- </span> -->
        </div>
        <div class="header">
            <p>{{ p.title }}</p>
        </div>
        <div class="img">
            <img [src]="p.imagePath" [alt]="p.title" style="max-height: 800px;">
        </div>
        <div class="content mt-2">
            <p>{{ p.content }}</p>
        </div>
        <div class="btns" *ngIf="isAuth && (p.creator == locUserId)">
            <button class="btn btn-primary m-1" [routerLink]="['/edit',p.id]">EDIT</button>
            <button class="btn btn-danger m-1" (click)="deletePost(p.id)">DELETE</button>
        </div>
    </div>
</div>