<div [class]="containerClass" [ngStyle]="containerStyle">
    <div class="card mt-5">
        <div class="fhead">Followers</div>
        <ul (click)="userProf(f)" *ngFor="let f of followers"
            class="list-group list-group-flush d-flex flex-row align-items-center ps-3">
            <img *ngIf="followerPics[f]" [src]="[followerPics[f]]" class="sideImgs">
            <li class=" list-group-item">{{f}}</li>
        </ul>
    </div>

    <div *ngIf="locUserId == userId" class="card mt-5">
        <div class="fhead">Followings</div>
        <ul (click)="userProf(g)" *ngFor="let g of followings"
            class="list-group list-group-flush d-flex flex-row align-items-center ps-3">
            <img *ngIf="followingsPics[g]" [src]="[followingsPics[g]]" class="sideImgs">
            <li class=" list-group-item">{{g}}</li>
        </ul>
    </div>

    <div *ngIf="locUserId == userId" class="card mt-5">
        <div class="fhead">Freinds</div>
        <ul (click)="userProf(r)" *ngFor="let r of freindsName"
            class="list-group list-group-flush d-flex flex-row align-items-center ps-3">
            <img *ngIf="freindsPics[r]" [src]="[freindsPics[r]]" class="sideImgs">
            <li class=" list-group-item">{{r}}</li>
        </ul>
        <div class="chat-container" routerLink="/chat"><span class="chat">Chat with Freinds!</span></div>
    </div>
</div>