<div class="container w-100" id="postCreateCont">
    <div class="spinner-border text-primary" role="status" *ngIf="isLoading">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="card" style="width: 80%;">
        <div class="card-body">
            <h5 class="card-title text-center">{{ mode=='create' ? 'Add New Post' : mode=='edit' ? 'Edit Post' : '' }}
            </h5>
            <form [formGroup]="postForm" (ngSubmit)="onAddPost()" *ngIf="!isLoading">
                <input type="text" formControlName="title" id="title" name="title" class="form-control"
                    placeholder="Enter a title">
                <div *ngIf="(this.postForm.get('title')?.errors)&&(this.postForm.get('title')?.touched)">
                    <p class="text-danger">Minimum 3 characters required</p>
                </div>
                <div class="d-flex align-items-center justify-content-evenly imgCont">
                    <button class="btn btn-info" type="button" (click)="filePicker.click()" style="margin: 10px 0;">
                        Pick Image
                    </button>
                    <input type="file" #filePicker (change)="onImagePicked($event)">
                    <div class="imagePreview" *ngIf="imagePreview !== '' && imagePreview">
                        <img [src]="imagePreview" [alt]="postForm.value.title">
                    </div>
                    <div *ngIf="!imageCheck">
                        <p class="text-danger">Select an Image</p>
                    </div>
                </div>
                <textarea class=" form-control mb-2" formControlName="content" id="cont" name="cont" rows="6"
                    placeholder="Enter your content"></textarea>
                <div *ngIf="(this.postForm.get('content')?.errors)&&(this.postForm.get('content')?.touched)">
                    <p class="text-danger">Minimum 4 characters required</p>
                </div>
                <button class="btn btn-success" type="submit">Save Post</button>
            </form>
        </div>
    </div>
</div>